.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a.add-from-address-book-init.button  {
  display: inline-block;
}

.wl-modal {
  top: 35%;

  .wl-modal-body {
    max-height: 700px;
  }
}