.aw-referrals-share-buttons.bswp-share-buttons {

  a.add-from-address-book-init {
    line-height: 20px;
    span {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}